html,
body {
	background-color: $body-bg;
	// min-height: 100%;
	// height: 100%;
	// overflow-x: hidden;
	&::-webkit-scrollbar { 
    display: none; 
	}
}

// SIZE CONTROL VARS
$size-control-placeholder: 530px;
	// Banners
$banner-height: 350px;
	// Site menu
$site-menu-width-control: 101px;
$menu-list-icons-width: 35px;
	// Header
$header-height-control: 70px;
	// Mobile header
$mobile-navbar-height: 56px;
	// Hero Unit and Videocover
$video-bg-height: 491px;
	// User cards
$user-card-height: 42px;
$user-card-width: 70px;
	
	// Gallery container
$gallery-container-height: 420px;

.site-wrapper,
.site-content {
	// min-height: 100%;
	position: relative;
}

@media only screen and (min-width: 1500px) {
	.site-wrapper {
		width: 1500px;
		margin: 0 auto;
	}
}

// HERO UNIT
.hero-unit {
	position: relative;
	height: $video-bg-height;
	@include bg-img-control;
	&.video-bg {
		overflow: hidden;
		height: $video-bg-height;
	}
	.overlay,
	.hero-unit-pic {
		@include position(absolute, 0 0 0 0);
		height: $video-bg-height;
	}
	.hero-unit-pic {
		img {
			width: 100%;
			height: auto;
		}
	}
}

// CLICKABLE DIV
[data-href]{
	cursor: pointer;
}

$sidebar-left-width-control: 280px;
$sidebar-left-width-control-tablet: 210px;
.site-content {
	@include clearfix;
	.sidebar-left,
	.main-content {
		padding: $container-fluid;
	}
	@media #{$xs-only} {
		.gallery-container,
		.gallery .gallery-cell {
			height: $gallery-container-height - 210;
		}
	}
	@media #{$sm-only} {
		.main-content {
			// @include calc(width, "100% - #{$sidebar-left-width-control-tablet}");
			width: 100%;
			margin: 0 auto;
		}
		.gallery-container,
		.gallery .gallery-cell {
			height: $gallery-container-height - 140;
		}
	}
	@media #{$md-up} {
		.sidebar-left,
		.main-content {
			float: left;
			min-height: 100vh;
		}
		.main-content {
			@include calc(width, "100% - #{$sidebar-left-width-control-tablet}");
		}
		.sidebar-left {
			width: $sidebar-left-width-control-tablet;
		}
	}
	@media #{$lg-up} {
		.main-content {
			@include calc(width, "#{$screen-lg-desktop} - #{$sidebar-left-width-control}");
		}
		.sidebar-left {
			width: $sidebar-left-width-control;
		}
	}
	@media only screen and (min-width: 1500px) {
		.main-content {
			@include calc(width, "100% - #{$sidebar-left-width-control}");
		}
		.projects-grid {
			.isotope-item {
				> a {
					height: 180px;
				}
			}
		}
		.gallery-container,
		.gallery .gallery-cell {
			height: $gallery-container-height + 140;
		}
	} 
	@media #{$sm-down} {		
		.sidebar-left {
			h1 {
				font-size: $font-size-h2;
				font-size: rem($font-size-h2);
			}
		}
	}
}

[id*="menu-main"] {
	@media #{$sm-down} {
		li {
			display: inline-block;
			float: none;
		}
	}
} 

.works-padding {
	padding-top: 42px !important;
}
.bio-padding {
	padding-top: 58px !important;
}
.media-padding {
	padding-top: 77px !important;
}
.contact-padding {
	padding-top: 96px !important;
}

/*
	Nav project grid filters
*/
$brand-spaces: darken(#d4de3e, 7%);
$brand-objects: #fcb748;
$brand-systems: #3db9ea;

.nav-project-grid-filters {
	@include list-unstyled;
	margin: rem(42px) 0;
	@media #{$sm-down} {
		margin: rem(21px) 0;
	}
	li {
		@media #{$sm-down} {
			display: inline-block;
			padding: 0 ($container-fluid / 2);
		}
		a {
			display: block;
			font-size: 12px;
			&:after,
			&:before {
				content: "";
				display: inline-block;
				opacity: 0;
				width: 7px;
				height: 7px;
				margin-left: 7px;
			}
			&:before {
				display: none;
			}
			@media #{$sm-down} {
				&:after {
					display: none;
				}
				&:before {
					display: inline-block;
					margin-right: 7px;
					margin-left: 0;
				}
			}
		}
	}
	.all,
	.spaces,
	.objects,
	.systems {
		&.active,
		&:hover {
			&:after,
			&:before {
				opacity: 1;
			}
		}
	}
	.all {
		&:after,
		&:before {
			background-color: $gray;
		}
	}
	.spaces {
		color: $brand-spaces;
		&:after,
		&:before {
			background-color: $brand-spaces;
		}
		&.active,
		&:hover {
			color: darken($brand-spaces, 7%);
		}
	}
	.objects {
		color: $brand-objects;
		&:after,
		&:before {
			background-color: $brand-objects;
		}
		&.active,
		&:hover {
			color: darken($brand-objects, 7%);
		}
	}
	.systems {
		color: $brand-systems;
		&:after,
		&:before {
			background-color: $brand-systems;
		}
		&.active,
		&:hover {
			color: darken($brand-systems, 7%);
		}
	}
}

/*
	nav-project-items-mini-grid
*/
.nav-project-items-mini-grid {
	@include list-unstyled;
  width: 120px;
  float: right;}
  .nav-project-items-mini-grid:after {
    content: "";
    display: table;
    clear: both; }
  .nav-project-items-mini-grid li {
    float: left;
    width: 24.95%;
    padding: 1px; }
    .nav-project-items-mini-grid li a {
      display: block;
      height: 21px;
      background-color: $brand-spaces;
      margin: 0;
      @include box-shadow(inset 0px 0px 7px 0px white);
      &.active,
      &:hover {
      	@include box-shadow(inset 0px 0px 21px 0px white);
      }
     }
    .nav-project-items-mini-grid li.spaces a {
      background-color: $brand-spaces; }
      .nav-project-items-mini-grid li.spaces a:hover, .nav-project-items-mini-grid li.spaces a.active {
        background-color: lighten($brand-spaces, 3%); }
    .nav-project-items-mini-grid li.objects a {
      background-color: $brand-objects; }
      .nav-project-items-mini-grid li.objects a:hover, .nav-project-items-mini-grid li.objects a.active {
        background-color: lighten($brand-objects, 3%); }
    .nav-project-items-mini-grid li.systems a {
      background-color: $brand-systems; }
      .nav-project-items-mini-grid li.systems a:hover, .nav-project-items-mini-grid li.systems a.active {
        background-color: lighten($brand-systems, 3%); }

/*
	projects-grid
*/
.projects-grid {
	@include clearfix;
	@include list-unstyled;
	@include normalize-text;
	.isotope-item {
		width: 24.95%;
		padding: 1px;
		float: left;
		@media #{$md-down} {
			width: 49.97%;
		}
		@media #{$sm-down} {
			width: 100%;
		}
		&.highlighted {
			.overlay {
				@include transition(opacity 0.2s ease-in-out);
				opacity: 1;
			}
		}
		&.media-item {
			> a {
				height: 210px;
			}
		}
		> a {
			display: block;
			position: relative;
			height: 140px;
			overflow: hidden;
			@media #{$sm-down} {
				height: 280px;
			}
			&.active,
			&:hover {
				.overlay {
					@include transition(opacity 0.2s ease-in-out);
					opacity: 1;
				}
			}
		}
		&.spaces,
		&.espacios {
			.project-title {
				color: $brand-spaces;
			}
		}
		&.objects,
		&.objetos {
			.project-title {
				color: $brand-objects;
			}
		}
		&.systems,
		&.sistemas {
			.project-title {
				color: $brand-systems;
			}
		}
	}
	img {
		width: 100%;
		height: auto;
	}
	.overlay {
		@include transition(opacity 0.2s ease-in-out);
		@include position(absolute, 0 0 0 0);
		@include flex-middle;
		padding: $container-fluid;
		background-color: rgba(white, 0.9);
		opacity: 0;
	}
	.project-title {
		font-size: 18px;
		text-transform: uppercase;
	}
	.name-year {
		font-size: 11px;
		padding: $container-fluid 0;
		.name {}
		.year {}
	}
	.location {
		font-size: 10px;
	}
}


/* Project gallery */
.gallery-container {
	position: relative;
	overflow: hidden; 
	margin-bottom: 21px;
	height: $gallery-container-height;
	&.display-project-details {
		.project-details {
			@include transition(all 0.2s ease-in-out);
			@include transform(translateY(0));
		}
	}
	&:hover {
		.flickity-prev-next-button {
			&.previous,
			&.next {
				opacity: 1;
			}
			&[disabled] {
				opacity: 0.3;
			}
		}
	}
}
.project-details-trigger {
	@include position(absolute, null null 0 0);
}
.project-details-trigger {
	width: 28px;
	height: 28px;
	background-color: rgba($gray-darker, 0.7);
	color: white;
}
.project-name-year {
	@include position(absolute, -49px null null -210px);
	width: 210px;
	padding-right: $container-fluid * 2;
	font-size: 11px;
	text-align: right;
}
.project-details {
	@include position(absolute, null null 0 ($container-fluid * 2));
	@include transition(all 0.2s ease-in-out);
	@include transform(translateY(100%));
	background-color: rgba(white, 0.9);
	padding: $container-fluid;
	width: 280px;
	height: $gallery-container-height - 35px;
	font-size: 11px;
	text-align: justify;
}

.flickity-prev-next-button {
	&.previous,
	&.next {
		opacity: 0;
	}
	&[disabled] {
		opacity: 0;
	}
}
.gallery {
	.gallery-cell {
		width: 100%;
		overflow: hidden;
		height: $gallery-container-height;
		// @media #{$sm-down} {
		// 	height: $gallery-container-height - 140;
		// }
		img {
			width: 100%;
			height: auto;
		}
	}
}

.gallery-nav {
	float: right;
	width: $screen-tablet / 3;
	.gallery-cell {
		overflow: hidden;
		width: 50%;
		height: 84px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.flickity-prev-next-button {
		top: 87%;
	}
}

.gallery-counter {
	@include position(absolute, null 0 7px null);
	width: $screen-tablet / 3;
	height: 18px;
	background-color: rgba($gray-darker, 0.9);
	&:hover {
		.gallery-cell {
			&:before {
				color: $gray-light;
			}
		}
	}
	.gallery-cell {
		@include flex-middle;
		counter-increment: gallery-cell;
		width: 10%;
		height: 18px;
		&:before {
			content: counter(gallery-cell);
			color: white;
			font-size: 9px;
		}
	}
}

/* 
	BIO
 */
.bio-padding {
	text-align: justify;
	#{$text-elements-list} {
		font-size: 12px;
	}
	img {
		width: 100%;
		height: auto;
	}
}

// CONTACT FORMS 7
.wpcf7-form {
	.btn {
		float: right;
		background-color: $gray-lighter !important; 
		color: $gray-dark;
		border: none;
		&:hover {
			background-color: darken($gray-lighter, 3%) !important; 
			color: $gray-darker;
		}
	}
}




















